aiohttp>=3.7.2
websockets==9.1
asyncio==3.4.3
discord.py>=1.5.1
beautifulsoup4==4.6.3
cachetools==3.0.0
certifi==2018.8.24
future==0.17.1
html2text==2018.1.9
lxml==4.6.3
multidict>=4.5
numpy==1.15.3
Pillow==8.3.2
praw>=7.1.0
pycparser==2.19
PyNaCl==1.0.1
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.7
pywin32-ctypes==0.2.0
requests>=2.20.0
six==1.11.0
Unidecode==1.0.23
urllib3>=1.23
utils==0.9.0
youtube-dl>=2021.12.17
matplotlib==3.0.0
pymongo==3.7.2
opuslib
